$active:#FF5A09;


%roboto-400{
      font-family: 'Roboto',sans-serif;
      font-weight: 500;
}
%roboto-500{
      font-family: 'Roboto',sans-serif;
      font-weight: 400;
}
%inter-400{
      font-family: 'Inter', sans-serif;
      font-weight: 400;
}
%bebas-400{
      font-family: 'Bebas Neue', sans-serif;
      font-weight: 400;
}
